---
const { path } = Astro.props;
---

<footer>
	<nav>
		<ul>
			<!-- <li><a href="https://github.com/JavaScriptRegenerated/regenerated.dev">View source</a></li>
			<li><a href="https://app.usefathom.com/share/ajddwzci/regenerated.dev">View analytics</a></li> -->
		</ul>
	</nav>
</footer>

<style>
	footer {
		text-align: center;
		margin-top: auto;
		padding: 2rem 0;
		border-top: 3px solid var(--theme-divider);
	}

	ul {
		list-style: none;

		display: flex;
		justify-content: center;
		gap: 1rem;
	}
</style>
